name: |-
  CI - Build Docker image

  Build Docker image and push it to ECR

  ### Usage

  ```yaml
    name: Deploy
    on:
      push:
        branches: [ main ]

    jobs:
      ci:
        uses: ./.github/workflows/workflow-ci-dockerized-app-build.yml
        with:
          organization: $\{\{ github.event.repository.owner.login \}\}
          repository: $\{\{ github.event.repository.name \}\}
        secrets:
          ecr-region: $\{\{ secrets.ecr-region \}\}
          ecr-iam-role: $\{\{ secrets.ecr-iam-role \}\}
          registry: $\{\{ secrets.registry \}\}
          secret-outputs-passphrase: $\{\{ secrets.secret-outputs-passphrase \}\}
  ```
on:
  workflow_call:
    inputs:
      organization:
        description: "Repository owner organization (ex. acme for repo acme/example)"
        required: true
        type: string
      repository:
        description: "Repository name (ex. example for repo acme/example)"
        required: true
        type: string
      image-name:
        description: "Image name (excluding registry). Defaults to {{$organization/$repository}}."
        required: false
        type: string
        default: ""
      build-args:
        description: "Build args for Docker build."
        type: string
        required: false
    secrets:
      ecr-region:
        description: "ECR AWS region"
        required: true
      ecr-iam-role:
        description: "IAM Role ARN provide ECR write/read access"
        required: true
      secret-outputs-passphrase:
        description: "Passphrase to encrypt/decrypt secret outputs with gpg. For more information [read](https://github.com/cloudposse/github-action-secret-outputs)"
        required: true
      registry:
        description: "ECR Docker registry"
        required: true

    outputs:
      image:
        description: "Docker Image"
        value: ${{ jobs.build.outputs.image }}
      tag:
        description: "Docker image tag"
        value: ${{ jobs.build.outputs.tag }}

permissions:
  id-token: write
  contents: read

jobs:
  build:
    name: build
    runs-on: ["ubuntu-latest"]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2.2.0
        with:
          aws-region: ${{ secrets.ecr-region }}
          role-to-assume: ${{ secrets.ecr-iam-role }}

      - name: Sanitize Organization
        id: lowercase
        uses: cloudposse/github-action-string-transformer@main
        with:
          operation: "lowercase"
          input-string: ${{ inputs.organization }}

      - name: Build
        id: build
        uses: nitzan-frock/github-action-docker-build-push@v0.1.2
        with:
          # uses the Amazon ECR remote cache for buildkit
          # https://aws.amazon.com/blogs/containers/announcing-remote-cache-support-in-amazon-ecr-for-buildkit-clients/
          cache-to: "mode=max,image-manifest=true,oci-mediatypes=true,type=registry,ref=${{ secrets.registry }}/${{ inputs.repository }}:cache"
          cache-from: "type=registry,ref=${{ secrets.registry }}:cache"
          organization: ${{ steps.lowercase.outputs.output-string }}
          repository: ${{ inputs.repository }}
          registry: ${{ secrets.registry }}
          image_name: ${{inputs.image-name}}
          build-args: ${{inputs.build-args}}
          ecr-cache: true
          docker-metadata-pr-head-sha: true
          # provenance is needed so there's not 'blank' entries in ecr as `-`
          # AWS handles metadata as a separate image entry.
          provenance: false

      - uses: cloudposse/github-action-secret-outputs@0.1.1
        id: image
        with:
          secret: ${{ secrets.secret-outputs-passphrase }}
          op: encode
          in: ${{ steps.build.outputs.image }}

    outputs:
      image: ${{ steps.image.outputs.out }}
      tag: ${{ steps.build.outputs.tag }}
