name: |-
  CI Checks Workflow

  Runs format, lint, types and tests.

on:
  workflow_call:
    inputs:
      format-changed-files:
        description: Only run formatting/linting on changed files.
        required: false
        default: true
        type: boolean
      runtime:
        description: Runtime environment (`python` or `node`)
        required: true
        default: "python"
        type: string

    secrets:
      ssh-private-key:
        description: "SSH Private Key to access private repositories (only needed for python)"
        required: false

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Format Check (Python)
        if: inputs.runtime == 'python'
        uses: ACROSS-Team/github-action-python-checks@v1.0.1
        with:
          check-type: format
          changed-files: ${{ inputs.format-changed-files }}

      - name: Format Check (Node)
        if: inputs.runtime == 'node'
        uses: ACROSS-Team/github-action-node-checks@v0.1.0
        with:
          check-type: format

  lint:
    runs-on: ubuntu-latest
    if: inputs.runtime == 'node'
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Lint Check
        uses: ACROSS-Team/github-action-node-checks@v0.1.0
        with:
          check-type: lint

  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Run Tests (Python)
        if: inputs.runtime == 'python'
        uses: ACROSS-Team/github-action-python-checks@v1.0.1
        with:
          check-type: test
          ssh-private-key: ${{ secrets.ssh-private-key }}

      - name: Run Tests (Node)
        if: inputs.runtime == 'node'
        uses: ACROSS-Team/github-action-node-checks@v0.1.0
        with:
          check-type: test

  types:
    runs-on: ubuntu-latest
    steps:
      - name: Setup
        uses: actions/checkout@v4

      - name: Type Check (Python)
        if: inputs.runtime == 'python'
        uses: ACROSS-Team/github-action-python-checks@v1.0.1
        with:
          check-type: types
          ssh-private-key: ${{ secrets.ssh-private-key }}

      - name: Type Check (Node)
        if: inputs.runtime == 'node'
        uses: ACROSS-Team/github-action-node-checks@v0.1.0
        with:
          check-type: types
